body{
    background-color:#c4ebf9;
    height: 90vh;
    margin: 0;
    font-size: 2em;
    font-family: sans-serif;
    
}

.mainContainer{
   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2%;


}

.header{
    background-color:#02bfb1;
    height: 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent{
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer{
    background-color:#02bfb1;
    height: 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside{
    width: 27%;
    background-color:#6edb6e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightAside{
    width: 70%;
    background-color:#fbb04c;
    color: white;
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    
    
}

.bottom{
   
    height: 40%;
    
    display: flex;
    justify-content: space-between;
    padding: 1%;
    
 
    
}

.image{
display: flex;
background-color:#fcd24a;
width: 30%;
align-items: center;
align-content: center;
justify-content: center;

}


.top{

height: 60%;

display: flex;
flex-direction: column;
justify-content: end;
align-items: center;
align-content: center;



}

